/*----------------
IMPORT BOOTSTRAP
----------------*/
@import "/node_modules/bootstrap/scss/bootstrap";

/* MY VARIABLES */
:root{
    --primary-color:#2E3A46;
    --secondary-color: #212529;
}

/* LAYOUT */
.my_container{
    max-width: 1200px;
    margin: auto;
}
body{
    background-color: var(--primary-color);
}